<div class="jumbotron">
    <h1>Calculator API</h1>
    <p class="lead">The most powerful API to do mathematical operations.</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Use the Swagger UI to learn about all the operations available in the API and get started in writing your own app.</p>
        <p><a class="btn btn-default" href="/swagger">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Azure Hosting</h2>
        <p>Easily host your API on Azure App Service.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
